body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
}

form {
  margin: 20px;
  text-align: justify;
  position: center;
}

input, select, button{
  padding:5px;
  border:2px solid #ccc;
  color: #111111;
  background-color: whitesmoke;
}

.paper {
  width:50%;
  height:20%;
  background:#FFF;
  margin:40px auto;
  padding: 20px;
  text-align: justify;
  position: relative;
}

.paper > h2 {
  text-align: center;
}

.paper:before, .paper:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}
.paper:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
